name: Run Unit Tests

on:
  pull_request:

jobs:
  tests:
    name: Run Python Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
       python-version: ["3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: python -m pip install --upgrade pip setuptools wheel pysam mappy
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        pytest src/eastr --cov=eastr
